// creating a palette;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
$blackColor: rgb(24,24,24);
$whiteColor: white;
$listColor: rgb(127, 149, 209);

// Fonts
$titleFont: "Raleway", Helvetica, sans-serif;
$bodyFont: "Raleway", Times, serif;


@mixin buttonStyle($color,$fontSize){

    width: 100%;
    height: 25px;
    border: none;
    font-size: $fontSize;
    color: $color;

}
